.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.rules {
  display: flex;
  justify-content: center;
}

.Rule {
  border: 2px solid transparent;
}

.Controls {
  top: 0px;
  width: 100%;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-top: 2px solid #171616;
  will-change: height;
  transition: height 300ms ease;
  height: 94px;
  overflow: hidden;
}
.Controls.expand {
  height: 200px;
}

.Controls > .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  padding: 15px 0;
}
.Controls > .extra {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Controls > .buttons > * + * {
  margin-left: 16px;
}

.Controls button.emoji,
.Controls button.emoji {
  font-size: 16px;
  padding: 5px;
  color: #dadada;
  border-color: rgb(182, 182, 182);
  background: black;
  border-radius: 8px;
  margin: 3px;
}
.Controls label {
  font-size: 16px;
  white-space: nowrap;
  padding: 10px;
  z-index: 9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Controls label > select {
  height: 38px;
  display: block;
  font-size: 28px;
  background: transparent;
  color: white;
}
.Controls label > input {
  width: 140px;
}
.Controls label > div {
  width: 60px;
}

.Playground {
  flex-grow: 1;
  /* max-height: calc(100% - 100px); */
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.Controls button.emoji {
  color: #dadada;
  border-color: rgb(182, 182, 182);
  margin: 8px;
  background: none;
  border: none;
  font-size: 38px;
  line-height: 38px;
}

.grid-size-buttons {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  flex-shrink: 0;
}

.grid-size-buttons > .PlasticButton {
  border-radius: 0;
}

.grid-size-buttons > .PlasticButton:first-child {
  border-radius: 6px 0 0 6px;
}

.grid-size-buttons > .PlasticButton:last-child {
  border-radius: 0 6px 6px 0;
}

.update-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

.update-block--text {
  display: inline-block;
  margin-right: 8px;
}

.score {
  font-weight: bold;
  font-size: 20px;
  width: 100px;
  text-align: center;
}

.right-span {
  width: 40px;
}
