:root {
  --Background: #000000;
  --Border: #ffffff;
  --Text: #ffffff;
  --Primary: #ffd500;
  --Danger: #ff0048;
  --CellDead: #242424;
}

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  /* background: #1d1c1c; */
  background: var(--Background);
  color: rgb(182, 182, 182);
}

* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.rules {
  display: flex;
  justify-content: center;
}

.Rule {
  border: 2px solid transparent;
}

.Controls {
  padding: 15px 10px 25px 10px;
  top: 0px;
  width: 100%;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 2px solid #171616;
}
.Controls button.emoji,
.Controls button.emoji {
  font-size: 16px;
  padding: 5px;
  color: #dadada;
  border-color: rgb(182, 182, 182);
  background: black;
  border-radius: 8px;
  margin: 3px;
}
.Controls label {
  font-size: 16px;
  white-space: nowrap;
  padding: 10px;
  z-index: 9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Controls label > select {
  height: 38px;
  display: block;
  font-size: 28px;
  background: transparent;
  color: white;
}
.Controls label > input {
  width: 140px;
}
.Controls label > div {
  width: 60px;
}

.Playground {
  flex-grow: 1;
  /* max-height: calc(100% - 100px); */
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.Controls button.emoji {
  color: #dadada;
  border-color: rgb(182, 182, 182);
  margin: 8px;
  background: none;
  border: none;
  font-size: 38px;
  line-height: 38px;
}
